body {
  background-color: #eeeeee;
  font-size: 26px;
}

.wrapper {
  width: 700px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 10px;
}

header,
footer {
  background-color: ghostwhite;
  padding: 20px;
}

.loginform,
.createaccountform {
  color: white;
  position: absolute;
  display: none;
  width: 500px;
  margin: auto;
  background-image: url("https://images.unsplash.com/photo-1509822929063-6b6cfc9b42f2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  padding: 1rem 1rem;
}

main {
  background-color: cornsilk;
  padding: 20px;
  gap: 10px;
}

.layout-sidebar {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
